.postbookmark-icon:before						{ background-position: 0px 0px; }
.postbookmark-icon:hover:before					{ background-position: 0px -20px; }
.postbookmark-icon-delete:before {
	background-image: linear-gradient(to bottom, #FFFFFF, #D40000);
}
.postbookmark-icon-delete:hover:before {
	background-image: linear-gradient(to bottom, #D40000, #FFFFFF);
}

.scrool {
	max-height: 400px;
	overflow-y: scroll;
	font-size: 0.9em;
	line-height: 1.5em;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	.scrool {
		max-height: 160px;
	}
}