.postbookmark-icon:before {
	content: '\f046';
	color: #909090;
}
.postbookmark-icon-delete:before {
	content: '\f14a';
	color: #C0463D;
}
.scrool {
	max-height: 400px;
	overflow-y: scroll;
	font-size: 0.9em;
	line-height: 1.5em;
}

.bookmark_form
{
	padding: 0px 10px 0px 0px;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	.scrool {
		max-height: 160px;
	}
}
